.ejemplo {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;

  &__editor {
    width: 45%;
  }
}

.compiler__button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0px;
  align-items: flex-end;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.spacing{
  margin-bottom: 330px;
}
