.Steps_flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.Compare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;

  &__spacing{
    display: flex;
    flex-direction: row;
    padding-left: 330px;
  }

  &__between{
    padding-left: 20px;
  }
}

.Text-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 350px;

  &__texts {
    font-size: 15px;
    background-color: rgba (255, 255, 255, 0.849);
    color: #000000;
    height: 300px;
    width: 295px;
    margin-top: 10px;
  }

  &__texts2 {
    font-size: 15px;
    background-color: rgba (255, 255, 255, 0.849);
    color: #000000;
    height: 300px;
    width: 295px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
}


.outline {
  text-align: left;
  border: rgb(136, 136, 136) 1px solid;
}

.compiler__button {
  padding-bottom: 10px;
}
