.Module {
  text-align: center;
  width: 100%;
  margin-bottom: 200px;

  &__title {
    font-weight: bolder;
  }

  &__pad{
    padding-top: 1px;
    padding-right: 120px;
    padding-left: 160px;
  }
}

.pad{
  padding-left: 1110px;
}

._button {
  margin-top: 30px;
  background-color: #3e5ba9;
  color: white;
  width: 141px;
  height: 41px;
  border-radius: 30px;
  border: none;
}

